/* 基礎樣式 */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

/* 自定義Ant Design組件樣式 */
.ant-btn-primary {
  background-color: #1677ff;
}

.ant-list-item-meta-title {
  margin-bottom: 0 !important;
}

.ant-card-head {
  border-bottom: 1px solid #f0f0f0;
}

/* 用於覆蓋可能的衝突 */
.tailwind-override .ant-form-item {
  margin-bottom: 20px;
}
